version: "3.9"

services:
  redis:
    image: redis:7
    ports: ["6379:6379"]
  api:
    build:
      context: ../
      dockerfile: infra/Dockerfile.api
    env_file:
      - ../server/.env
    depends_on: [redis]
    ports: ["8080:8080"]
